
/* CSS Document */

@font-face {
    font-family: 'OpenSansBold';
    src: url('../font/opensans-bold.eot');
    src: url('../font/opensans-bold.eot') format('embedded-opentype'),
         url('../font/opensans-bold.woff') format('woff'),
         url('../font/opensans-bold.ttf') format('truetype'),
         url('../font/opensans-bold.svg#OpenSansBold') format('svg');
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../font/myriadpro-regular.eot');
    src: url('../font/myriadpro-regular.eot') format('embedded-opentype'),
         url('../font/myriadpro-regular.woff') format('woff'),
         url('../font/myriadpro-regular.ttf') format('truetype'),
         url('../font/myriadpro-regular.svg#MyriadProRegular') format('svg');
}

